<!doctype html>
<html lang="en">
  <head>

    <link rel="preload" href="/fonts/VK_Sans_Display_DemiBold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/VK_Sans_Display_Expanded_DemiBold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/VK_Sans_Display_Expanded_Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/VK_Sans_Text_Light.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="preload" href="/fonts/VK_Sans_Display_DemiBold.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/VK_Sans_Display_Expanded_DemiBold.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/VK_Sans_Display_Expanded_Regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/VK_Sans_Text_Light.woff" as="font" type="font/woff" crossorigin>


    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%- title %></title>
    <meta name="description" content="<%- desc %>" />

    <link rel="canonical" href="<%- origin %>" />
    <meta property="vk:image" content="<%- vkSnippetImage %>" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%- title %>" />
    <meta property="og:description" content="<%- desc %>" />
    <meta property="og:image" content="<%- snippetImage %>" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="<%- title %>" />
    <meta property="twitter:description" content="<%- desc %>" />
    <meta property="twitter:image" content="<%- snippetImage %>" />

  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
